/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #212529;
}

.container3 {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 20px;
    margin-top: 100px;
}

/* Navbar */
.navbar {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
}
/* .navbar-nav mx-auto text-center */
.text-center li a {
    text-align: center !important;
}
.nav-btns button {
    background: none;
    border: none;
    font-size: 1.2rem;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 0px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #007bff;
}

/* Main Section */
.event {
    text-align: center;
    margin: 50px 0;
}

.event-info {
    margin-bottom: 20px;
}

.event-description {
    font-style: italic;
    color: #fff;
}

/* Image Gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 0 15px 30px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card-cover {
    border-radius: 2px 2px 0 0;
    width: 100%;
    padding-top: 38%;
    background-size: 100% auto;
    border-bottom: 1px solid #eee;
}

.cover-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-body {
    padding: 15px;
}
.event-title a {
    white-space: initial;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-copyright {
    margin-top: 20px;
    text-align: center;
}

.h2, h2 {
    font-size: calc(1.325rem + .9vw);
    color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-btns {
        margin-top: 10px;
    }

    .image-gallery {
        justify-content: center;
    }

    .card {
        width: 100%;
        margin: 0 0 30px;
    }
}
@media screen and (max-width: 768px) {
    .card-cover {
        width:200px; /* Điều chỉnh lại độ cao cho thiết bị di động */
    }
}



