
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



#error_message,
#map,
.contact-info {
    flex: 1;
    margin: 0 10px; 

}
.container1 {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px; 
	display: flex;
    flex-wrap: wrap;
	margin-top: 150px;
    margin-bottom: 100px;
}



.navbar-brand img {
    max-width: 50%;
    height: auto;
    vertical-align: middle;
}

.nav-btns button {
    margin-left: 10px;
}




.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	width: 300px;
}

.input_field {
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: 270px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}






